<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />

	
    </startup>
	<connectionStrings>
		<add name="conString1" connectionString="server=localhost;DataBase=ProConfigDB;uid=Naux;pwd=Miaoxuan2223...;database=ProConfigDB"/>
		<add name="conString2" connectionString=""/>
	</connectionStrings>
</configuration>